:root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.back-button {
  cursor: pointer;
  color: #fff;
  transition: color 1s;
}

.back-button:hover {
  color: red;
}

.home {
  display: flex;
  flex-direction: row;

  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container button {
  width: 10rem;
  height: 10rem;
  margin: 0.25rem;
  cursor: pointer;
}

.general-container {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

/*TIC TAC TOE*/
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  justify-content: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.square {
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.game-info button {
  font-size: 2rem;
}

/* MEMORY GAME*/

.memory-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.memory-card {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
}

.memory-game > * {
  font-size: 2rem;
  text-align: center;
}

/*AIM TRAINER*/

.aim-trainer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aim-trainer-play-field {
  width: 80vw;
  height: 80vh;
  background-color: #5e5e5e;
}

.spawn-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.aim-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aim-info span {
  margin: 0.5rem;
}

.aim-info button {
  width: 10em;
  height: 3cap;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #242424;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;

}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #5e5e5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}
